---
import * as mainConfig from "@/config/main";
import { Icon } from "astro-icon/components";

export function toAllUpperCase(s: string) {
  return s
    .split("")
    .map((char) => char.toUpperCase())
    .join("");
}
export function toAllLowerCase(s: string) {
  return s
    .split("")
    .map((char) => char.toLowerCase())
    .join("");
}
// TODO: Focus on SQL and `value` property later.
// FIX: Null
const phone = mainConfig.site.links.find((link) => link.type === "phone")!;
const email = mainConfig.site.links.find((link) => link.type === "email")!;
const location = mainConfig.site.links.find(
  (link) => link.type === "location"
)!;
const linkedin = mainConfig.site.links.find(
  (link) => link.type === "linkedin"
)!;
const instagram = mainConfig.site.links.find(
  (link) => link.type === "instagram"
)!;

function toTitleCase(s: string): string {
  let result = "";
  if (s.length > 0) {
    result += s.at(0)!.toUpperCase();
  }
  if (s.length > 1) {
    result += s.slice(1);
  }
  return result;
}
---

<header class="font-lato">
  <div
    class="row-[banner] col-[fullbleed] grid bg-indigo-700 grid-rows-1 grid-cols-subgrid relative"
  >
    <div
      class="col-[content] text-white font-bold text-xs py-2 flex flex-col md:flex-row justify-between items-center"
    >
      <h1>{toAllUpperCase(mainConfig.site.title)}</h1>
      <div class="flex gap-x-4 [&_a]:hover:underline">
        <a href={phone.href} class="items-center flex gap-x-1">
          <Icon name={phone.icon} />
          <span>{phone.value}</span>
        </a>
        <a href={email.href} class="items-center flex gap-x-1">
          <Icon name={email.icon} />
          <span>{email.value}</span>
        </a>
        <span class="items-center flex gap-x-1">
          <Icon name={location.icon} />
          <span>{location.value}</span>
        </span>
        <a href={linkedin.href} class="items-center flex gap-x-1">
          <Icon name={linkedin.icon} />
          <span>@{linkedin.value}</span>
        </a>
        <a href={instagram.href} class="items-center flex gap-x-1">
          <Icon name={instagram.icon} />
          <span>@{instagram.value}</span>
        </a>
      </div>
    </div>
  </div>

  <div
    class="row-[nav] col-[fullbleed] w-full grid bg-zinc-200/40 grid-rows-1 grid-cols-subgrid h-14 rounded-b-xl sticky top-0 bg-clip-padding backdrop-filter backdrop-blur-md"
  >
    <nav
      class="col-[content] flex justify-between items-center text-base h-full"
    >
      <div class="flex gap-x-26 items-center h-full">
        <!-- <a class="text-2xl" href="/">{mainConfig.site.shortTitle}</a> -->
        <a class="text-2xl h-full py-4" href="/">
          <img alt="" src="/pacs_logo_extrasmall.png" class="h-full" />
        </a>
        <ul class="flex gap-6 text-base font-bold">
          {
            mainConfig.pages
              .filter((page) => page.name != "index")
              .map(({ href, name }) => (
                <li class="hover:ring-2 ring-zinc-950 rounded">
                  <a href={href} class="px-4 py-2 block">
                    {/* {toAllLowerCase(name === "index" ? "Home" : name)} */}
                    {toAllUpperCase(name)}
                  </a>
                </li>
              ))
          }
        </ul>
      </div>
      <a
        href={mainConfig.site.links.find((link) => link.type === "phone")!.href}
      >
        <button
          class="bg-blue-500 text-white rounded-[0.25rem] justify-end px-4 py-2 h-fit opacity-100 ring-0 hover:ring-2 hover:cursor-pointer ring-zinc-900"
        >
          CALL SALES
        </button>
      </a>
    </nav>
  </div>
</header>

<!-- <header class="flex flex-col">
  <div
    class="bg-indigo-700 text-white font-bold text-xs py-2 flex justify-center"
  >
    <div class="container flex justify-between">
      <div>
        {toAllUpperCase(mainConfig.site.title)}
      </div>
      <div class="flex gap-x-2">
        <span>{phone.href}</span>
        <span>{email.href}</span>
        <span>{location.href}</span>
      </div>
    </div>
  </div>

  <div class="backdrop-blur-md bg-zinc-50 flex justify-center">
    <nav
      class="container grid grid-cols-[fit-content(100%)_minmax(0,1fr)_fit-content(100%)] h-14 items-center"
    >
      <div class="w-[100px]">
        <a href="/">{mainConfig.site.shortTitle}</a>
      </div>
      <ul class="flex gap-4">
        {
          mainConfig.pages.map(({ href, name }) => (
            <li>
              <a href={href}>{toTitleCase(name)}</a>
            </li>
          ))
        }
      </ul>
      <button class="bg-blue-500 text-white rounded-[0.25rem] justify-end p-2"
        >Call Sales</button
      >
    </nav>
  </div>
</header> -->
