---
import * as mainConfig from "@/config/main";
import HeroLanding from "@/sections/pages/index/hero-landing.astro";
import Layout from "@/layouts/layout.astro";
import CardsSection from "@/sections/cards-section.astro";
import HalfAndHalfSection from "@/sections/half-and-half-section.astro";
import Footer from "@/components/layout/footer.astro";
import Header, { toAllUpperCase } from "@/components/layout/header.astro";
import { Icon } from "astro-icon/components";
import ArticlesSection from "@/sections/articles-section.astro";
import CircleSection from "@/sections/circle-section.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const pageConfig = mainConfig.pagesByName["index"];
---

<Layout>
  <Header />

  <main class="gap-y-26">
    <!-- Start hero -->
    <HeroLanding />
    <!-- End hero -->

    <!-- Start about -->
    <CardsSection title="About" cards={pageConfig.cards} />
    <!-- End about -->

    <!-- Services -->
    <!-- <HalfAndHalfSection
      tagline="Services tagline"
      title={pageConfig.services.title}
      description={pageConfig.services.description}
      items={pageConfig.services.items}
    /> -->
    <HalfAndHalfSection
      tagline="Our services"
      title="Innovative solutions for complex energy problems"
      description="Our team is cost effective, providing analysis of investment and custom solutions."
      media={{ type: "image", source: "/IMG_2316.JPEG" }}
      items={[
        { icon: "fa6-solid:check", title: "Feasibility studies" },
        { icon: "fa6-solid:check", title: "Investment ROI and payback study" },
        {
          icon: "fa6-solid:check",
          title: "Equipment modular design and selection",
        },
        { icon: "fa6-solid:check", title: "Plant design" },
        {
          icon: "fa6-solid:check",
          title: "Equipment modular design and selection",
        },
        { icon: "fa6-solid:check", title: "Engineer Design Review" },
      ]}
    />
    <!-- End services -->

    <div class="col-[fullbleed] grid grid-cols-subgrid grid-rows-2 text-white">
      <img
        class="row-[1_/_3] col-[fullbleed-start_/_left-content-end] object-cover size-full"
        src={"IMG_2252.JPEG" /* "//IMG_2344.JPEG" */}
      />

      <!-- Start mission -->
      <section
        class="pl-18 bg-zinc-900 grid row-[1_/_2] col-[rightbleed] grid-cols-subgrid"
      >
        <div class="col-[right-content] flex flex-col justify-center gap-8">
          <h2 class="text-4xl font-bold">
            {pageConfig.content.mission.title}
          </h2>
          <div class="text-lg/9">
            {
              pageConfig.content.mission.content
                .split("\n")
                .map((paragraph) => <p>{paragraph}</p>)
            }
          </div>
        </div>
      </section>
      <!-- End mission -->

      <!-- Start vision -->
      <section
        class="pl-18 bg-blue-900 grid row-[2_/_3] col-[rightbleed] grid-cols-subgrid"
      >
        <div class="col-[right-content] flex flex-col justify-center gap-8">
          <h2 class="text-4xl font-bold">
            {pageConfig.content.vision.title}
          </h2>
          <div class="text-lg/9">
            {
              pageConfig.content.vision.content
                .split("\n")
                .map((paragraph) => <p>{paragraph}</p>)
            }
          </div>
        </div>
      </section>
      <!-- End vision -->
    </div>

    <!-- Products -->
    <HalfAndHalfSection
      tagline="Innovations"
      title={pageConfig.products.title}
      rawDescription={pageConfig.products.description}
      media={{ type: "image", source: "" }}
      items={pageConfig.products.items}
      reverse
    />
    <!-- End products -->

    <!-- Key ideas -->
    <!-- <CircleSection title="Key ideas"/> -->
    <!-- End key ideas -->

    <ArticlesSection />
  </main>

  <Footer class="bg-zinc-900 text-white py-36" />
</Layout>

<style>
  body > main {
    z-index: 10;
    display: grid;
    grid-row: main;
    grid-column: fullbleed;
    grid-template-rows:
      [hero-start] auto
      [hero-end about-cards-start] auto
      [about-cards-end services-start] auto
      [services-end mission-vision-start] 100lvh
      [mission-vision-end articles-start] auto
      [articles-end];
    grid-template-columns: subgrid;
  }
</style>
