---
import * as mainConfig from "@/config/main";
import HeroLanding from "@/sections/hero-landing.astro";
import Layout from "@/layouts/layout.astro";
import CardsSection from "@/sections/cards-section.astro";
import HalfAndHalfSection from "@/sections/half-and-half-section.astro";
import Footer from "@/components/layout/footer.astro";
import Header, { toAllUpperCase } from "@/components/layout/header.astro";
import { Icon } from "astro-icon/components";
import PeopleSection from "@/sections/people-section.astro";
import ArticleBannerCard from "@/components/article-banner-card.astro";
import ArticlesSection from "@/sections/articles-section.astro";
import HardWorkBanner from "@/sections/hard-work-banner.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const pageConfig = mainConfig.pagesByName["services"];
---

<Layout>
  <Header />

  <main class="gap-y-26">
    <HeroLanding name={pageConfig.name} href={pageConfig.href} />

    <HalfAndHalfSection
      tagline="Products tagline"
      title={pageConfig.consultancy.title}
      description={pageConfig.consultancy.description}
      media={{ type: "image", source: "" }}
      items={pageConfig.consultancy.items}
      reverse
    />
    <HalfAndHalfSection
      tagline="Products tagline"
      title={pageConfig.management.title}
      description={pageConfig.management.description}
      media={{ type: "image", source: "" }}
      items={pageConfig.management.items}
    />

    <HardWorkBanner />

    <HalfAndHalfSection
      tagline="Products tagline"
      title={pageConfig.controlSystems.title}
      description={pageConfig.controlSystems.description}
      media={{ type: "image", source: "" }}
      items={[]}
    />
    <HalfAndHalfSection
      tagline="Products tagline"
      title={pageConfig.study.title}
      media={{ type: "image", source: "" }}
      items={pageConfig.study.items}
      reverse
    />

    <!-- <PeopleSection title="Our Team" people={pageConfig.people} /> -->

    <ArticlesSection />
  </main>

  <Footer class="bg-zinc-900 text-white py-36" />
</Layout>

<style>
  body > main {
    z-index: 10;
    display: grid;
    grid-row: main;
    grid-column: fullbleed;
    /* grid-template-rows:
      [hero-start] auto
      [hero-end story-start] auto
      [story-end stats-start] auto
      [stats-end team-start] auto
      [team-end articles-start] auto
      [articles-end]; */
    grid-template-columns: subgrid;
  }
</style>
