---
import ArticleBannerCard from "@/components/article-banner-card.astro";
import * as mainConfig from "@/config/main";
import { Icon } from "astro-icon/components";
import { DateTime } from "luxon";

const pageConfig = mainConfig.pagesByName["articles"];
---

{
  pageConfig.data.some(
    (article) =>
    // @ts-ignore This comparison appears to be unintentional because the types 'DateTime<boolean> | undefined' and '(params?: RawCreateParams) => ZodUndefined' have no overlap.ts(2367)
      article.expirationDate === undefined ||
      (article.expirationDate && article.expirationDate > DateTime.now())
  ) && (
    <section class="col-[fullbleed] flex flex-col lg:grid lg:grid-cols-[2fr_5fr]">
      <div class="bg-zinc-900 text-white p-16 flex flex-col gap-8">
        <h3 class="text-6xl font-light">Articles</h3>
        <p class="text-lg/6 font-semilight text-justify">
          PACS LLC presents an innovative line of products ideal to satisfy the
          needs of a dynamic and flexible market. Saving energy costs and
          maximizing manpower productivity returns via high degree of affordable
          modular automation and streamlining logistics.
        </p>
        <a
          class="flex items-center gap-2 justify-end font-semibold underline underline-offset-4"
          href="/articles"
        >
          <p>View all articles</p>
          <Icon name="fa6-solid:arrow-right-long" />
        </a>
      </div>
      <div class:list={[
        "flex flex-col lg:grid lggrid-cols-3",
        "p-16 gap-16 bg-[url('/IMG_2256.JPEG')] bg-fixed bg-no-repeat bg-cover bg-clip-padding bg-[center_80%]"
      ]}>
        {pageConfig.data.map(
          (article) =>
          // @ts-ignore This comparison appears to be unintentional because the types 'DateTime<boolean> | undefined' and '(params?: RawCreateParams) => ZodUndefined' have no overlap.ts(2367)
            (article.expirationDate === undefined ||
              (article.expirationDate! > DateTime.now())) && (
              <ArticleBannerCard
                imageSource={article.overview.imageSource}
                title={article.title}
                creationDate={article.creationDate}
                author={article.author}
                authorImageSource={article.authorImageSource}
                description={article.overview.summary}
                readMoreHref={article.href}
              />
            )
        )}
      </div>
    </section>
  )
}
